<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "groups" do %>
  <h2 class="mb-4 text-2xl font-bold">Groups</h2>

  <table class="table-auto w-full">
    <thead>
      <tr>
        <th>Band name</th>
        <th>Genre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.band_name %></td>
          <td><%= group.genre %></td>
          <td><%= link_to 'Show', group %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to 'New Group', new_group_path %>
