<p id="notice"><%= notice %></p>

<p>
  <strong>Band name:</strong>
  <%= @group.band_name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @group.genre %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
