<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>

    <div class="border-b mb-4">
      <nav class="py-4 max-w-5xl mx-auto">
        <%= link_to "Dashboard", dashboard_index_path, class: "mr-2 underline text-blue-500" %>
        <%= link_to "Imports", imports_path, class: "mr-2 underline text-blue-500" %>
        <%= link_to "Import count", dashboards_imports_path, class: "mr-2 underline text-blue-500" %>
        <%= link_to "Orders", orders_path, class: "mr-2 underline text-blue-500" %>
        <%= link_to "Orders count", dashboards_orders_path, class: "mr-2 underline text-blue-500" %>
      </nav>
    </div>
    <div class="mx-auto max-w-5xl">
      <%= yield %>
    </div>
  </body>
</html>
