<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>

    <nav class="px-16 py-4">
      <%= link_to "Dashboard", dashboard_index_path, class: "mr-2 underline text-blue-500" %>
      <%= link_to "Imports", imports_path, class: "mr-2 underline text-blue-500" %>
      <%= link_to "Import count", dashboards_imports_path, class: "mr-2 underline text-blue-500" %>
      <%= link_to "Groups", groups_path, class: "mr-2 underline text-blue-500" %>
      <%= link_to "Groups count", dashboards_groups_path, class: "underline text-blue-500" %>
    </nav>
    <div class="mx-auto max-w-5xl">
      <%= yield %>
    </div>
  </body>
</html>
